body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Comfortaa";
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* *.grab {
  cursor: grab;
} */

*::-webkit-scrollbar {
  width: 0; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

/* https://alligator.io/css/css-scrollbars/ */
/* https://stackoverflow.com/questions/14962468/how-can-i-combine-flexbox-and-vertical-scroll-in-a-full-height-app */
